html {
  font-size: 18px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
}

.todo-container {
  width: 70%;

  padding: 2rem;
  margin: auto;
}

.title {
  text-align: center;
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #110e0e;
  text-rendering: optimizeLegibility;
}

.font-padding-typeOne {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

#todo-list-main input {
  width: 78%;
}

.add-task-btn {
  border-radius: 0.5rem;
  margin-left: 1.5rem;
  background-color: orangered;
}

.todo-table {
  margin-top: 1.5rem;
}

.todo-list-name {
  font-size: 1.7rem;
  width: 89.95%;
}

.item-checkbox {
  width: 2.5rem;
  transform: scale(1.8);
}

.delete-todo-icon {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-todo-icon:hover {
  background-color: red;
}

.strike {
  text-decoration: line-through;
}

.todo-container h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  margin-left: 3.3rem;
}